html {
    background-color: #3f3d3a;
    margin:75px
}

body {
    margin:8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    
    background-color: #faf3e6;
}

#img1{
    float: left;
    margin: 10px;
}

#img2{
    float:left;
    margin-right: 25px;
}

#img3{
    float:right;
}

/* footer{
    margin-bottom: 5px;
} */
 
ol {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainHeading {
    color:red
}

/* li {
    color:green;
} */

.funParagraph{
    color:green;
    margin: 10px;
}


